@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* --bg-color: #167676; */
  --bg-color: #ee701e;
  --front-color: white;
  --button-bg: #537fd0;
  --secondbg-color: #f3bd9a;
  --darkviolet: #3d2c54;
  --bg-gradient: radial-gradient(
    at top left,
    #fce3b0 0%,
    #ed6d20 35%,
    #7c139e 80%,
    #541863 96%
  );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}

.animate-fade-in-delay {
  animation: fadeIn 1.2s ease-out 0.3s forwards;
}

.home {
  font-family: "Fira Sans", sans-serif;
  /* background-color: var(--bg-color); */
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.home-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background: var(--bg-gradient);
}

.home-header-cover-img .marco {
  width: 550px;
  height: 550px;
  position: relative;
  border: 4px solid white;
  border-top: none;
  border-right: none;
}

.home-header-cover-img .marco::before,
.home-header-cover-img .marco::after {
  content: "";
  position: absolute;
  background: white;
}

.home-header-cover-img .marco::before {
  top: 0;
  left: 0;
  width: 75%;
  height: 4px;
}

.home-header-cover-img .marco::after {
  right: 0;
  bottom: 0;
  width: 4px;
  height: 70%;
}

.home-header-cover-img .numero {
  position: absolute;
  top: -30px;
  right: -10px;
  color: white;
  font-weight: 100;
  font-family: "IBM Plex Mono", monospace;
  font-size: 80px;
  display: flex;
  flex-direction: column;
}

.home-header-cover-img .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-header-cover-img .texto img {
  height: 120px;
}

.home-header-cover-img .numero span {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 1px;
}

.home-header-text-container {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 70px;
}

.home-header h1,
h2 {
  font-family: "IBM Plex Mono", monospace;
  color: var(--front-color);
}

.home-header h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 900;
  margin-bottom: 15px;
}

.home-header-description {
  max-width: 550px;
}

.home-header-description p {
  margin-bottom: 15px;
}

.numeros {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
  height: 100vh;
}

.numeros .img-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

#dossiers {
  background-image: url("./images/mockups/dossier_def_mockup.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

#primer-numero,
#primer-numero-dossier {
  color: var(--front-color);
  position: relative;
}

#primer-numero .primer-numero-descripcion {
  background-color: var(--bg-color);
  padding: 50px;
  position: absolute;
  top: 250px;
  left: 100px;
  width: 500px;
  height: 500px;
}

#primer-numero-dossier .primer-numero-descripcion {
  background-color: var(--secondbg-color);
  padding: 50px;
  position: absolute;
  top: 250px;
  right: 100px;
  width: 500px;
  height: 500px;
}
#numeros h2,
.numeros h2,
#dossiers h2,
#primer-numero h2,
#primer-numero-dossier h2 {
  font-size: xx-large;
  font-weight: 700;
}

#numeros {
  background-image: url("./images/mockups/revista_def_mockup.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  background-position: 50%;
}

.numero-1 {
  background-position: 40%;
  width: 100vw;
  height: 120vh;
  /* position: relative; */
}

/* .numero-1 div {
  width: 300px;
  position: absolute;
  left: 15%;
  top: 100px;
} */

.dsb-edition-card {
  box-shadow: 1px 1px 89px 0px rgba(0, 0, 0, 0.4);
  color: var(--front-color);
  display: flex;
  flex-direction: column;
}

.dsb-edition-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dsb-edition-card img {
  box-shadow: 5px 5px 58px 1px rgba(0, 0, 0, 0.42);
}

.dsb-edition-card h3 {
  font-weight: 600;
  font-size: larger;
}

.lines {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  border-bottom: 10px solid var(--front-color);
}

.lines div {
  height: 40px;
  background-color: var(--front-color);
}

.square {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}

.square-1 {
  border-left: 30px solid var(--darkviolet);
  border-right: 20px solid var(--darkviolet);
}

.square-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 20px solid var(--darkviolet);
  border-bottom: 10px solid var(--darkviolet);
}

.square-2 span {
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--darkviolet);
}

.square-3 {
  border-left: 10px solid var(--darkviolet);
  border-right: 30px solid var(--darkviolet);
  display: flex;
  justify-content: center;
}

.square-3 span {
  display: block;
  height: 100%;
  width: 10px;
  background-color: var(--darkviolet);
}

.square-4 {
  border-top: 40px solid var(--darkviolet);
  border-bottom: 10px solid var(--darkviolet);
}

#guias {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #cbb7e2 60%, rgb(229 231 235) 100%);
}

#guias h2 {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--front-color);
}

.infocard-container {
  min-height: calc(100vh - 320px);
}

.infocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.infocard h2 {
  color: var(--bg-color);
}

.infocard-titulo {
  border-bottom: 3px solid var(--bg-color);
  padding-bottom: 20px;
  width: 100%;
  font-weight: 900;
}

.infocard-contenido {
  max-width: 700px;
  margin: 0 20px 80px 20px;
}

#primer-numero-desagregado {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
#primer-numero-desagregado .flex-wrap {
  width: 80%;
}

#primer-numero-desagregado h2 {
  font-size: xx-large;
  margin-top: 80px;
  margin-bottom: 20px;
}

.prueba {
  max-width: 100vw;
}

.article-card {
  background-color: var(--secondbg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 250px;
  padding-bottom: 30px;
}

.article-card .img-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.article-card-description {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-card-description a {
  background-color: var(--bg-color);
  padding: 5px;
  margin-top: 10px;
}

.miembro-equipo {
  width: 400px;
}

.miembro-equipo .img-container {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
}

.miembro-equipo img {
  object-fit: cover;
  filter: grayscale(100%);
}
.miembro-equipo .flex-col {
  max-width: 210px;
}

/* MEDIA QUERIES */

@media (max-width: 1250px) {
  .home-header {
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .home-header-text-container {
    height: unset;
    padding: 50px 0 0 0;
    margin-bottom: 100px;
  }
  .home-header-cover-img {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #primer-numero img,
  #primer-numero-dossier img {
    height: 100vh;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .numeros .img-container {
    display: none;
  }
}

@media (max-width: 700px) {
  .home-header-cover-img {
    width: 80%;
  }
  .home-header-text-container {
    padding: 30px;
  }
  .home-header {
    padding-top: 0;
    justify-content: start;
  }
  .dsb-edition-card {
    width: 100%;
  }
  .numeros {
    height: fit-content;
  }
  #dossiers {
    height: 100vh;
  }
  .lines {
    display: none;
  }
  #primer-numero-dossier .primer-numero-descripcion,
  #primer-numero .primer-numero-descripcion {
    position: initial;
    width: 100%;
  }
  #primer-numero,
  #primer-numero-dossier {
    position: unset;
  }
  .infocard {
    width: 100%;
  }
}
